/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
body {}

/*********************
LINK STYLES
*********************/
a, a:visited {


	// Adds highlight on hover
	&:hover, &:focus {

	}

	// On click
	&:active {

	}

	// Mobile tap color
	&:link {
		/*
		This highlights links on iPhones/iPads.
		Similar to the :hover selector for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
p {}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}
    
/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
} 

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}

.hentry {

	header {}

	footer {}

}

.single-title,
.page-title {}

.single-title {}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
		}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
		}

} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/

#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
		background: $secondary-color;
	}

	li.depth-2 {}
	li.depth-3 {
		background: darken($secondary-color, 5%);
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		@include button($padding: $button-sml);
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// no comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}

	#searchsubmit {
	}

	.widgettitle {}

	.widget {
		ul {
			margin: 0;

			li {
				list-style: none;

				&:first-child {}

				&:last-child {}

				a {}

				// deep nesting  
				ul {}

			}

		}
		@media #{$medium-up} {
			padding: 0 10px;
			margin: 2.2em 0;
  		}

	}

#sidebar-offcanvas {
	.widgettitle {
		color: #fff;
	}	
}
/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	margin-top: 1em;
}

.footer-links {} 

.copyright {}
	
/*********************
FOUNDATION STYLES
*********************/
.clearing-assembled.clearing-blackout a:hover {
	background: none;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}














// Global styles

@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);

body {
	font-family: 'Raleway', sans-serif; 
	font-weight:300;
	border-top:solid 3px $primary-color; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:"Raleway", sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	span {
		font-weight:800;
	}
}

h1 {
	font-size:2.6em;
	@media(max-width:800px){
		font-size: 2em;
	}
}
h2 {
	font-size:2.2em;
	@media(max-width:800px){
		font-size: 1.6em;
	}
}
h3 {
	font-size:1.6em;
	@media(max-width:800px){
		font-size: 1.2em;
	}
}
h4 {
	font-size:1.4em;
	@media(max-width:800px){
		font-size: 1.1em;
	}
}
h5 {
	font-size:1.2em;
	@media(max-width:800px){
		font-size: 1em;
	}
}
h6 {
	font-size:1em;
	@media(max-width:800px){
		font-size: .8em;
	}
}

.row {
	max-width:70em;
	@media(max-width:1150px){
		max-width: 90%;
	}
}

p {
	font-size:0.9em;
	line-height:1.85em;
}

table {
	width:100%;
}

table tr.even, table tr.alt, table tr:nth-of-type(2n) {
	background:none !important;
}

@media(max-width:800px){ 
	iframe {
		height:280px !important;
	}
	.entry-content p a img {
		margin:0 auto 15px auto;
	}
	.page-title {
	  font-size: 1.3em;
	  padding: 15px 0;
	}
}

@media(max-width:480px){ 
	iframe {
		height:200px !important;
	}
}

@media(max-width:360px){ 
	iframe {
		height:170px !important;
	}
}













// Header Styles

.header {
  background:darken($primary-color,20%);

  	.contain-to-grid {
  		background:none;
  		padding:35px 0;
  		position: relative;
  		@media(max-width:980px){
		  	padding:35px 0 65px 0;
		}
  		@media(max-width:640px){
		  	padding:15px 10px 15px 0;
		}
  		
  		.top-bar {
		  background: none;
		  z-index: 9999;
		  min-height: 3rem;
		  	.title-area {
		  		z-index: 99999;
		  		margin-top:-21px;
		  		@media(max-width:640px){
				  	margin-top:0;
				  	margin-left:10px;
				}
		  	}
			.name {
				margin:0;
				img {
				  	max-width: 145px !important;
				  	@media(max-width:640px){
				  		z-index: 99999;
				  		margin-top:0;
				  		margin-left:10px;
				  		max-height: 45px !important;
				  	}
				}
			}	
		}

		#flags {
		  	position:absolute;
		  	top:-30px;
		  	left:270px;
		  	text-align: right;
			@media(max-width:980px){
			  display:none;
			}
		}

		#flags:before {
			content: 'Select a language';
			color: #fff;
			font-weight: normal;
			font-size: 0.63em;
			padding:5px 10px;
			display:block;
			text-transform: uppercase;
		}

		.contact {
		  float: right;
		  text-align: right;
		  margin:-23px 10px 0 0;
		  @media(max-width:980px){
		  	margin:0 20px 0 0;
		  }
		  @media(max-width:640px){
		  	display:none;
		  }
		  h3 {
		  	font-size: 0.75em;
		  	margin:0 0 5px 0!important;
		  	font-weight: bold;
		  	text-transform: uppercase;
		  }
		  .top-number {
		  	color:#fff;
		  	text-transform: uppercase;
		  	a {
		  		color:#fff;
		  	}
		  }
		  .top-address {
		  	color:rgba(255,255,255,0.8);
		  	text-transform: uppercase;
		  	font-weight: bold;
		  	a {
		  		color:rgba(255,255,255,1);
		  	}
		  }
		}
	}

}

.top-bar-section {
  float: right;
  clear: right;
  margin: 10px -5px 0 0;
  @media(max-width:980px){
	float:left;
	clear:both;
	margin:28px 0 0 15px;
  }
}

.top-bar-section ul li {
  background: none;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background:none;
  font-size: .85em;
  font-weight: 400;
  color:rgba(255,255,255,0.8);
  @media(max-width:980px){
	font-size:0.85em;
  }
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background:none;
  color:#FFF;
}

.top-bar-section li.active:not(.has-form) a:hover:not(.button),
.top-bar-section li,
.top-bar-section li a {
  color: #FFF;
  background:none !important;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  color: #FFF;
  background:none;
}

.top-bar-section li a {
	font-family: "Raleway" !important;
	text-transform: uppercase !important;
}

.top-bar-section .sub-menu {
	background: #333;
	font-size:0.9em;
	li {
		border-bottom:solid 1px rgba(255,255,255,0.15);
		a {
			color:rgba(255,255,255,0.8);
		}
		a:hover {
			color:rgba(255,255,255,1);
		}
		.sub-menu {
			border-right:solid 1px rgba(255,255,255,0.15);
			@media(max-width:800px){
				border-right:none;
			}
		}
	}
}

.top-bar-section ul .divider, 
.top-bar-section ul [role="separator"] {
  border-right: none;
}

.top-bar.expanded {
	.title-area {
		background:none;
	}
	#menu-main-menu {
		background:rgba(0,0,0,0.5);
		padding:0;
		.divider {
			border-top:solid 1px rgba(255,255,255,0.1);
		}
		li.menu-item a {
			padding:15px !important;
		}
	}

}

.top-bar .toggle-topbar {
  background: darken($primary-color,15%);
  border: 1px solid $primary-color;
  border-radius: 3px;
  color: $primary-color;
  font-size: 1em;
  height: 2em;
  padding: 6px 0 0 0;
  position: absolute;
  right: 5px;
  top: 28px;
  transition: all 0.5s ease 0s;
  width: 2em;
  text-align: center;
  cursor: pointer;
  @media(max-width:640px){
	top: 7px;
  }
}

.top-bar .small-phone {
  background: darken($primary-color,15%);
  border: 1px solid $primary-color;
  border-radius: 3px;
  color: $primary-color;
  font-size: 1em;
  height: 2em;
  padding: 2px 0 0 0;
  position: absolute;
  right: 85px;
  top: 28px;
  transition: all 0.5s ease 0s;
  width: 2em;
  text-align: center;
  cursor: pointer;
  display:none;
  @media(max-width:640px){
  	display:inline-block;
  	top: 7px;
  }
}

.top-bar .small-directions {
  background: darken($primary-color,15%);
  border: 1px solid $primary-color;
  border-radius: 3px;
  color: $primary-color;
  font-size: 1em;
  height: 2em;
  padding: 2px 0 0 0;
  position: absolute;
  right: 45px;
  top: 28px;
  transition: all 0.5s ease 0s;
  width: 2em;
  text-align: center;
  cursor: pointer;
  display:none;
  @media(max-width:640px){
  	display:inline-block;
  	top: 7px;
  }
}

.top-bar .small-phone:hover,
.top-bar .small-directions:hover {
  color: #fff;
}

.expanded .toggle-topbar {
  color: #fff;
  content: "\f00d" !important;
}

.expanded .fa-navicon::before, .expanded .fa-reorder::before, .expanded .fa-bars::before {
  content: "\f00d";
}

.f-topbar-fixed {
  padding-top: 0 !important;
}

.top-bar {
	line-height:1;
	.top-bar-section {	  
		ul .divider {
		  border-right: solid 1px rgba(255,255,255,0.1);
		  line-height: 3em !important;
		  height: 3.2em;
		}
	}
}

.expanded {
	.top-bar-section {
		width:100%;
		ul .divider {
		  border-top: solid 1px rgba(255,255,255,0.1);
		  border-right:none;
		  line-height: 1 !important;
		  height: auto;
		}
	}
	.top-bar-section .sub-menu {
		background: none;
		font-size:0.9em;
		li {
			border-bottom:solid 1px rgba(255,255,255,0.15);
			a {
				color:rgba(255,255,255,0.8);
			}
			a:hover {
				color:rgba(255,255,255,1);
			}
			.sub-menu {
				border-right:solid 1px rgba(255,255,255,0.15);
				@media(max-width:800px){
					border-right:none;
				}
			}
		}
	}
}

@media(max-width:600px){
	#wpadminbar {
		margin-top:-49px !important;
	}
}












// Sidebar Styles


#sidebar1 {
	margin:0 0 0 0 !important;
	padding:0;
	float:right;
	@media(max-width:640px){ 
		margin:40px auto 0 auto !important;
	}
	.widget {
		margin:0;
		padding:20px 15px 70px 15px;
		h4.widgettitle {
			font-size: 1.0em;
			margin-bottom:20px;
		}
		ul {
			li {
				a {
					color:#000;
					font-size:0.8em;
				}
			}
		}
	}
	.widget_search {
		background:#EEE;
		margin:0 !important;
		padding:20px 15px 70px 15px;
		label {
			span {
				font-size:1em; 
				text-transform: uppercase;
				font-weight: 600;
				margin-bottom: 15px !important;
				display: block;
			}
		}
		input {
			float: left;
			width: 80%;
		}
		.button {
			float: right;
			width: 20%;
			padding:10px;
			font-size: 0.82em;
		}
	}	
}






// Footer Styles



.footer {
	font-family: "Raleway" !important;
	background:darken($primary-color,25%);
	padding: 70px 0 40px 0;
	text-align:center;
	font-weight:normal;
	color:rgba(255,255,255,0.9);
	font-size:0.9em;
	.row {
	  max-width: 80em;
	}
	h2 {
		font-weight: normal;
		text-transform:uppercase;
		font-size:1.35em;
		margin:0;
		padding:0;
	}
	h3 {
		font-weight: normal;
		text-transform:uppercase;
		font-size:1em;
		margin:0;
		padding:0;
		a {
			color:#fff;
		}
	}
	.padding-top {
		padding-top:10px;
		@media(max-width:1000px){
			padding:5px 0;
		}
	}
	.footerlinks {
		font-size: 1em;
		font-family: "Raleway" !important;
	}
	p {
	  float:left;
	  font-size: 0.9em;
	  font-weight: normal;
	  line-height: 1em;
	  margin: 0;
	  padding: 5px 0 0;
	  text-align: left;
	  text-transform: uppercase;
	  font-family: "Raleway" !important;
	  width: 65px;
	  @media(max-width:1000px){
	  	padding-top:5px;
	  	float:none;
	  	display: inline-block;
	  }
	}
	h4 {
		padding:5px 0;
		margin:0;
		font-size: 1em;
		text-transform: capitalize;
		font-weight: 400;
		span {
			color:#b40000;
			font-weight: 400;
		}
		a {
			color:#b40000;
		}
	}
	ul {
		padding:25px 0;
		text-align: center;
		margin:0 auto;
		li {
			list-style:none;
			color:#fff;
			padding:5px 0;
			display: inline-block;
			text-align: center;
			float: none;
			margin:0;
			a {
				color:#fff;
				font-size: 1.35em;
				font-weight: 400;
				text-transform: uppercase;
				@media(max-width:980px){ 
					font-size: 1.05em;
				}
			}
			a:hover {
				color: #b40000;
			}
		}
		li:after {
			content: '/';
			padding:0 5px;
			@media(max-width:980px){ 
				padding:0;
			}
		}
		li:last-child:after {
			content: '';
			padding:0;
		}
		li:last-child {
			margin-left:-7px;
		}
	}
	.copyright {
		color:#fff;
		font-size: 1em;
		font-weight: 400;
		a {
			color: #fff;
		}
	}

	i {
		font-size: 2.4em;
		color:rgba(255,255,255,0.2) !important;
		display:block;
		padding-bottom:15px;
	}

	a {
		display: inline-block;
		clear:both;
		color:rgba(255,255,255,0.4);
		padding:5px 5px 0 0;
		transition: all 0.4s ease;
		@media(max-width:640px){
			margin-bottom: 25px;	
		}
	}

	a.phone {
		font-size: 1.65em;
		i {
			font-size: 1.55em;
		}
	}

	p {
		text-align: center;
		padding:30px 0 0 0;
		width:100%;
		float:none;
		font-weight:bold;
		text-transform: uppercase;
		font-size: 0.8em;
		color:rgba(255,255,255,0.4);
		line-height: 1em;
		@media(max-width:640px){
			font-size: 0.7em;
			line-height: 0.9em;
		}
	}

	a:hover {
		color:rgba(255,255,255,0.8);
		i {
			color: $primary-color !important;
		}
	}

	.socialmediafooter {
		text-align: center;
		margin:10px auto 0 auto;
		a {
			display:inline-block;
			margin:5px;
			img {
				opacity: 0.4;
			}
		}
		img {
			max-width: 50px;
		}
		a:hover {
			img {
				opacity: 0.8;
			}
		}
	}
}

.bx-viewport {
	margin:35px 0;
	blockquote {
	  border-left: none;
	}
	p {
		font-size: 1.3em !important;
	}
}

.google-map {
	padding:0 !important;
}

#om_container {
	margin-bottom:-25px;
	height:auto;
}







// Homepage Styles

.tp-caption {
	text-shadow:1px 2px 2px rgba(0,0,0,0.7) !important;
}

.cta-box {
	margin:15px 0;
	padding:0 25px 0 25px;
	text-align: center;
	min-height: 215px;
	transition: all 0.5s ease;
	.icon-wrap {
		.glyphicon {
			padding:25px 20px;
			border-radius:70px;
			font-size: 4em;
			margin-top: 0px !important;
			transition: all 0.5s ease;
			color: rgba(0,0,0,0.4);
		}
	}
	a,
	h3 {
		color: rgba(0,0,0,0.8);
	}
	h3 {
		font-size: 1.2em;
		transition: all 0.5s ease;
		margin:0;
		padding:0;
	}
	h4 {
		font-weight: normal;
		color: rgba(0,0,0,0.4);
		text-transform: none;
		font-size: 0.8em;
		line-height: 1.4em;
	}
}

.cta-box:hover {
	border-bottom:solid 5px darken($primary-color,5%);
	background: rgba(255,255,255,0.2);
	.glyphicon {
		font-size: 4.5em;
		color: rgba(0,0,0,0.8);
	}
}

.home-big-text {
	margin:35px 0;
	h1 {
		font-size:3em;
		@media(max-width:640px){
			font-size: 1.8em;
		}
	}
	h2 {
		font-size: 1.6em;
		font-weight: normal;
		@media(max-width:640px){
			font-size: 1.4em;
		}
	}
	h5 {
		font-size: 1em;
		font-weight: normal;
		@media(max-width:640px){
			font-size: 0.8em;
		}
	}
	.button-group {
		margin:25px 0 0 0;
		li a.button {
			font-size: 0.85em !important;
			font-family: "Raleway" !important;
		}
		@media(max-width:900px){
			li a {
				font-size: 0.7em;
			}
		}
		@media(max-width:640px){
			li {
				width: 100%;
				float: none;
			}
		}
	}
}




.more-link,
.button,
button,
a button,
.tiny,
.small, {
	font-family:"Raleway" !important;
	text-transform:uppercase !important;
}


article .thumb {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}